node_modules
**/node_modules
build
dist
.out
.next
coverage
coverage/**
public/build
public/static
storybook-static
.vscode
.idea
*.log
yarn-error.log
package-lock.json
pnpm-lock.yaml
npm-debug.log
*.map
*.lock
